ul.header {
  background-color: #111;
  padding: 0;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a{
  color: #FFF;
  font-weight: bold;
  text-decoration: none;/* 去掉下划线 */
  padding: 20px;
  display: inline-block;/*块显示*/
}

.active {
  background-color: #0099FF;
}

.content {
  background-color: #FFF;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}